
/* Q4 */
/* body{
   text-align: center; 
    margin-top: 2rem;
}
 div{
    height: 100px;
    width: 500px;
    border: 1px solid black;
    margin:2rem ;
 } */

 /* 5 */
 div{
    background-color: palevioletred;
    height: 100px;
    width:100px;
 }